.App {
  text-align: center;
}

.search-box{
  background-color: bisque;
  width: 10rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: auto;
}

.location-info{
  background-color: rosybrown;
  width: 10rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: auto;
}

ul {
  list-style-type: none;
  padding:0;
}